@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
$primary-color: #000;
$secondary-color: #fff;
$button-color: #fff;
$button-hover-color: #000;
$button-border-color: #000;
$text-color: #fff;
$text-color-dark: #000;
$gutter-width: 1%;
$link-color: #000;
$link-hover-color: #fff;
$width: 100%;

* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.85rem;
}
p {
  font-size: 1rem;
}
a {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  color: $link-hover-color;
}
li {
  list-style: none;
  & a {
    font-size: 1rem;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $gutter-width;
}
// Grid
// ==========================================================================
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}
[class*="col-"] {
  width: 100%;
  padding: 0 $gutter-width;
}
.col-sm-6 {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .col-1 {
    width: 7.1666666667%;
  }
  .col-2 {
    width: 15.3333333333%;
  }
  .col-3 {
    width: 23.5%;
  }
  .col-4 {
    width: 31.6666666667%;
  }
  .col-5 {
    width: 39.8333333333%;
  }
  .col-6 {
    width: 48%;
  }
  .col-7 {
    width: 56.1666666667%;
  }
  .col-8 {
    width: 64.3333333333%;
  }
  .col-9 {
    width: 72.5%;
  }
  .col-10 {
    width: 80.6666666667%;
  }
  .col-11 {
    width: 88.8333333333%;
  }
  .col-12{
    width: calc(100% - $gutter-width * 4);
  }
}