h1,h2,h3 {
  color: #232946;
}
#site-main-header {
  position: relative;
}
.site-main-header-menu {
  & #primary-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;

    & li {
      margin-right: 2rem;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      & li {
        display: block;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        & a {
          font-size: 1.5rem;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: flex-end;
    & #menu-toggle-buton {
      display: block !important;
    }
    & .menu-main-menu-container {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #000;
      z-index: 1;
    }

    & #menu-toggle:checked + .menu-main-menu-container {
      display: block;
    }
  }

  .menu-toggle-icon  {
    position: relative;
    & .menu-icon {
      width: 1.5rem;
      height: 2px;
      background-color: #fff;
      display: block;
      margin-bottom: .3rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.post-card {
  margin-bottom: 2rem;

  & .post-card-image {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover{
    opacity: .8;
  }
}

#site-main-header {
  margin-bottom: 1rem;
  padding: 1rem 0;
  position: relative;
}
/** Utils */
.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.justify-content-space {
  justify-content: space-between;
}

.site-title {
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.text-center{
  text-align: center;
}

body {
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 3rem 1rem;
}