h1, h2, h3 {
  color: #232946;
}

#site-main-header {
  position: relative;
}

.site-main-header-menu #primary-menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.site-main-header-menu #primary-menu li {
  margin-right: 2rem;
  margin-bottom: 0;
}
.site-main-header-menu #primary-menu li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .site-main-header-menu #primary-menu {
    flex-direction: column;
  }
  .site-main-header-menu #primary-menu li {
    display: block;
    margin-bottom: 1rem;
  }
  .site-main-header-menu #primary-menu li:last-child {
    margin-bottom: 0;
  }
  .site-main-header-menu #primary-menu li a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .site-main-header-menu {
    display: flex;
    justify-content: flex-end;
  }
  .site-main-header-menu #menu-toggle-buton {
    display: block !important;
  }
  .site-main-header-menu .menu-main-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1;
  }
  .site-main-header-menu #menu-toggle:checked + .menu-main-menu-container {
    display: block;
  }
}
.site-main-header-menu .menu-toggle-icon {
  position: relative;
}
.site-main-header-menu .menu-toggle-icon .menu-icon {
  width: 1.5rem;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-bottom: 0.3rem;
}
.site-main-header-menu .menu-toggle-icon .menu-icon:last-child {
  margin-bottom: 0;
}

.post-card {
  margin-bottom: 2rem;
}
.post-card .post-card-image {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}
.post-card .post-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-card:hover {
  opacity: 0.8;
}

#site-main-header {
  margin-bottom: 1rem;
  padding: 1rem 0;
  position: relative;
}

/** Utils */
.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.justify-content-space {
  justify-content: space-between;
}

.site-title {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .site-title {
    font-size: 2rem;
  }
}

.text-center {
  text-align: center;
}

body {
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 3rem 1rem;
}